.add-menu-web-form {
    text-align: center;
    
    .form-add__icono {
        color: rgba(0,0,0,0.25);
    }

    .ant-form-item {
        margin-top: 5px;
        margin-bottom: 5px;

    }
    .btn-submit{
        width: 100%;
    }
    
}

